.header {
  background: #fff;
  border-bottom: 1px solid #d8d1cb;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
  text-align: center;
}

.header__logo {
  color: #7a5c45;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
}

.confirm__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.confirm__heading {
  margin-bottom: 40px;
  text-align: center;
  color: #7a5c45;
  font-size: 24px;
}

.form {
  margin: 0 auto;
  width: 70%;
}

.confirm-table {
  border: 1px solid #ddd;
}

.confirm-table__inner {
  width: 100%;
}

.confirm-table__header {
  padding: 20px;
  width: 30%;
  border-bottom: 1px solid #ddd;
  color: #fff;
  background-color: #baa899;
  text-align: left;
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
  width: 100%;
  outline: none;
  border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #82756b;
  color: #fff;
  cursor: pointer;
}