.header {
  background: #fff;
  border-bottom: 1px solid #d8d1cb;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
  text-align: center;
}

.header__logo {
  color: #7a5c45;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
}

.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
  color: #7a5c45;
  font-size: 24px;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #a29488;
}

.form__label--required {
  margin-left: 5px;
  padding: 4px 6px;
  border-radius: 3px;
  color: #ff0000;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
  padding: 10px;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #a29488;

  appearance: none;
}

.form__input--text input {
  height: 40px;
  border: none;
  background-color: #f4f4f4;
}

.form__input--text select {
  width: 600px;
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  color: #a29488;
}

.form__input--label {
  width: 700px;
}

.form__input--textarea textarea {
  height: 160px;
  resize: none;
  border: none;
  background-color: #f4f4f4;
}

.form__button {
  margin-top: 30px;
}

.form__button-submit {
  font-size: 20px;
  padding: 10px;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #82756b;
  color: #fff;
  cursor: pointer;
}